---
layout: default
title: Home
---
<!-- Place in the <head>, after the three links -->
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
</script>

<div class="hero col-xs-12">
<h2 class="text-center"> What I Do?</h2>
<h3>I Create Beautiful Websites and Apps for all devices</h3>


<ul>
    <li> <i class="fa fa-leaf fa-4x"></i>Interface Design</li>
    <li> <i class="fa fa-globe fa-4x"></i>Website Design</li>
    <li> <i class="fa fa-code fa-4x"></i>Full Development</li>
</ul>
</div>
<div class="featured-projects col-xs-12">
<h1> Featured Work</h1> <a class="more-projects" href="projects"> more projects <i class="fa fa-chevron-right"></i></a>
<hr>
<div class="flexslider">
  <ul class="slides">
    {% for project in site.projects limit:4 %} {% if project.thumbnail %}
<li>
 {%assign pro_name=project.url | replace_first: site.url%}
  {%capture pro_name%}{{pro_name | remove: '.html'}}{%endcapture%}
   {%capture pro_name%}{{pro_name | remove: '/projects/'}}{%endcapture%}
    <div class="project">
        <h2>{{ project.title }}</h2>
        <div class="project-image">
            <a href="{{ project.url}}" >
            <div><img class="project-item-thumb" src="../public/img/projects/{{pro_name}}/{{project.thumbnail}}">
   <!--span class="overlay"><ul class="project-fields flex-row flex-wrap">
                    {% for skill in project.skills %}
                    <li class="pf-item">
                        {{ skill }}
                    </li>
                    {% endfor %}
                </ul>
            </span-->
            </div>


            </a>
        </div>
    </div></li>
    {% endif %} {% endfor %}
      </ul>
</div>
</div>

<script>

$(

  $('.project-image').hover(function(){

$(this).children().find('.overlay').css('box-shadow','inset 0 0 500px 500px #000')
/**/
$(this).children().find('.overlay').stop().animate({
opacity: .7
}, "slow");

console.log('hovering',$(this).children())
$(this).find('.project-fields').addClass('show');
},function(){
  $(this).find('.project-fields').removeClass('show');
/**/$(this).children().find('.overlay').stop().animate({
opacity: 0
}, "slow");


}));
</script>
