
  /* blog Navigation */
  
  .nav-box {
    display: none;
    padding: 20px;
    background: #fcfcfc;
  }
  .post-categories {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #9a9a9a;
    font-size: 0.8rem;
    margin-top: 10px;
  }
  
  .post-categories i,
  .post-tags i {
    vertical-align: middle;
    text-align: center;
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  
  .post-categories li:first-child,
  .post-tags li:first-child {
    border: none;
  }
  
  .post-tags {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #9a9a9a;
    font-size: 0.8rem;
    margin-top: -1.4rem;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
  .post-categories ul,
  .post-tags ul {
    margin: 0;
    padding: 0 3px;
  }
  
  .post-categories li,
  .post-tags li {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 0 3px;
    margin: 0 0.2rem;
  }

  
  .blog-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 5px 20px;
    /* margin-top: -6.0rem; */
    margin-bottom: 2.0rem;
  }
  
  .blog-nav-tag {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0;
  }
  
  .blog-nav-cat {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 0;
  }
  
  .blog-nav li {
    padding: 5px 10px;
    background: #f3f3f3;
    border: 1px solid #ddd;
  }
  
  .blog-nav li:hover,
  .blog-nav li:focus {
    background: #fefefe;
  }
  
  .blog-nav a {
    color: #999;
  }
  
  .blog-nav li:hover a {
    color: #000;
    text-decoration: none;
  }
  
  
  /* *** filter *** */
  
  .posts-by-tag,
  .posts-by-category {
    border: 1px solid #bbb;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  
  .posts-in-tag,
  .posts-in-category {
    border-bottom: 1px solid #bbb;
    margin: 10px;
    padding: 10px;
    background: #fcfcfc;
  }
  
  .posts {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Lato;
  }
  
  .post {
    margin: 0;
    padding: 2rem;
    border-bottom: 1px solid #bbb;
    background: #fefefe;
    /*box-shadow: -35px 0 30px -50px #000, 35px 0 30px -50px #000;
  */
  }
  
  .post:hover {
    box-shadow: -35px 0 30px -50px #000, 35px 0 30px -50px #000;
    cursor: pointer;
  }
  
  .post-title {
    font: 1.6rem Lato;
  }
  

  