.masthead-title {
  padding: 16px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.masthead-title__link,
.masthead-title__link:hover {
  color: #333333;
}

.social {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.social__list {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.social__link {
  display: block;
  color: #333;
  font-size: 12px;
  margin: 0 5px;
  text-align: center;
  vertical-align: middle;
}

.social__link:hover,
.social__link:focus {
  color: #2f2f2f;
  text-decoration: none;
}

.social__link--github {
  color: #2f2f2f;
}

.social__link--linkedin:hover,
.social__link--linkedin:focus {
  color: #23527c;
}

.social__link--email:hover,
.social__link--email:focus {
  color: #960c0c;
}

.social__link--rss:hover,
.social__link--rss:focus {
  color: #da5225;
}
