/*
 Featured Projects
*/

.featured-projects {
  /* background: #f2f2f2; */
}

.featured-projects__card {
  display: flex;
  padding: 0;
  background: #f5f5f5;
  box-shadow: 0px 3px 5px 5px #3332;
  border-radius: 5px;
  border: 1px solid transparent;
}

.featured-projects__list {
  margin: 0;
  padding: 0;
  width: 200px;
  background: #fefefe;
  border: 1px solid #eaeae3;
  margin: -2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.featured-projects__item {
  cursor: pointer;
  width: 100%;
  margin: -1px;
  padding: 12px;
  background: #dadada22;
  border-bottom: 1px solid #eaeae3;
}

.featured-projects__item:first-child {
  border-top-left-radius: 5px;
}

.featured-projects__item--alt {
  cursor: pointer;
  width: 100%;
  padding: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.featured-projects__item--alt:hover,
.featured-projects__item--alt:active,
.featured-projects__item--alt:focus {
  font-weight: bold;
  background-color: #454545;
  color: white;
  box-shadow: 5px 3px 5px 1px inset #333c;
}

.featured-projects__item:hover,
.featured-projects__item:active,
.featured-projects__item:focus,
.featured-projects__item--active {
  font-weight: bold;
  color: #444;
  box-shadow: 5px 3px 5px 1px inset #3332;
}

.featured-projects__preview {
  display: flex;
  flex: 1;
  width: auto;
  height: 450px;
  margin: 5px;
  overflow: hidden;
}

.featured-projects__view {
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
  display: none;
  overflow-y: auto;
}

.featured-projects__view--active {
  display: initial;
}

.featured-projects__description {
  position: absolute;
  height: 150px;
  bottom: 0;
  right: -1px;
  left: 230px;
  padding: 16px;
  transform: translateX(-16px);
  -webkit-transform: translateX(-16px);
  -moz-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  -o-transform: translateX(-16px);
  overflow: auto;
  font-size: 12px;
  background-color: #45454511;
  box-shadow: 0 3px 5px 1px inset #3332;
}

.featured-projects__img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 280px;
  padding: 0 8px;
}

.view__link {
  position: absolute;
  right: 16px;
  top: 14px;
  padding: 4px;
  border: 1px solid #3339;
  color: #3339;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
}

.view__linkfocus,
.view__link:hover {
  background: #f4f4f4;
  color: #444;
  text-decoration: none;
  border-color: #4442;

}

@media only screen and (max-width: 48em) {
  .featured-projects__list {
    width: 150px;
    max-width: 200px;
  }

  .featured-projects__img {
    max-height: 200px;
    height: auto;
  }

  .featured-projects__description {
    left: 180px;
  }
}

@media only screen and (max-width: 480px) {
  .featured-projects__list {
    display: none;
  }

  .featured-projects__img {
    max-height: 200px;
    height: auto;
  }

  .featured-projects__description {
    left: 31px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
