/*
 Featured Projects
*/

.projects {
  /* background: #f2f2f2; */
}

.projects__card {
  display: flex;
  padding: 0;
  background: #f5f5f5;
  box-shadow: 0px 3px 5px 5px #3332;
  border-radius: 5px;
  border: 1px solid transparent;
}

.projects__list {
  margin: 0;
  padding: 0;
  width: 200px;
  background: #fefefe;
  border: 1px solid #eaeae3;
  margin: -2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.projects__item {
  cursor: pointer;
  width: 100%;
  margin: -1px;
  padding: 12px;
  background: #dadada22;
  color: #515151;
  /* #f9f9f9 */
  border-bottom: 1px solid #eaeae3;
  font-size: 12px;
  font-weight: 600;
}

.projects__item:first-child {
  border-top-left-radius: 5px;
}

.projects__item--alt {
  cursor: pointer;
  width: 100%;
  padding: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.projects__item--alt:hover,
.projects__item--alt:active,
.projects__item--alt:focus {
  font-weight: bold;
  background-color: #454545;
  color: white;
  box-shadow: 5px 3px 5px 1px inset #333c;
}

.projects__item:hover,
.projects__item:active,
.projects__item:focus,
.projects__item--active {
  color: #393939;
}

.projects__item:active,
.projects__item:focus,
.projects__item--active {
  font-weight: bold;

  box-shadow: 5px 3px 5px 1px inset #e4e4e4;
}

.projects__preview {
  display: flex;
  flex: 1;
  width: auto;
  height: 450px;
  padding: 5px;
  overflow: hidden;
}

.projects__view {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  display: none;
  overflow-y: auto;
}

.projects__view--active {
  display: initial;
}

.projects__description {
  position: absolute;
  height: 150px;
  bottom: 0;
  right: -1px;
  left: 229px;
  padding: 16px;
  transform: translateX(-16px);
  -webkit-transform: translateX(-16px);
  -moz-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  -o-transform: translateX(-16px);
  overflow: auto;
  font-size: 12px;
  background-color: #e9e9e9;
  box-shadow: 0 3px 5px 1px inset #dadada;
  padding: 16px;
  font-family: monospace;
}

.projects__img {
  width: 100%;
  height: 290px;
  margin: 0;
  padding: 8px;
  position: relative;
  overflow-y: auto;
}

.projects__img--fsb {
  overflow-y: auto;
  background-image: url(/public/img/projects/010_fsbbo/5.png);
  background-blend-mode: multiply;
  background-color: #368;
  color: white;
}

.projects__img--fsb:focus,
.projects__img--fsb:hover {
  color:white
}

.projects__thumb {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: auto;
  margin: 8px;
  padding: 16px;
  transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  position: relative;
}

.projects__thumb.projects__thumb--fsb,
.projects__thumb.projects__thumb--dd,
.projects__thumb.projects__thumb--lbx {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.projects__thumb.projects__thumb--fsb {
  width: auto;
}

.projects__thumb:hover {
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}

/* .projects__view.projects__view--active:focus,
.projects__view.projects__view--active:hover,
.projects__img a:focus,
.projects__img a:hover {
  text-decoration: none;
  background: #2229;
  filter: blur(1px) grayscale(1) opacity(0.5);
  -webkit-filter: blur(1px) grayscale(1) opacity(0.5);
} */

.view__link {
  position: absolute;
  right: 16px;
  top: 14px;
  padding: 4px;
  border: 1px solid #4442;
  color: #3339;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
}

.view__linkfocus,
.view__link:hover {
  background: #f2f2f2;
  color: #505050;
  text-decoration: none;
  border-color: #3339;
}

@media only screen and (max-width: 48em) {
  .projects__list {
    width: 150px;
    max-width: 200px;
  }

  .projects__img {
    max-height: 200px;
    height: auto;
  }

  .projects__description {
    left: 179px;
  }
}

@media only screen and (max-width: 480px) {
  .projects__list {
    display: none;
  }

  .projects__img {
    max-height: 200px;
    height: auto;
  }

  /* .view__link {
    top: 32px;
  } */

  .projects__description {
    left: 31px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
