<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-PV7KSX7"
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="row">
  <div class="col-md-8 col-xs-12 col-md-push-2">
    <div class="header flex-row ">
      <div class="header__title">
        <a href="/" title="Yohannes Libanos" class="header__link">Y&middot;L</a>
        &nbsp;&nbsp;&nbsp;
         <!-- <small>{{ site.tagline }}</small> -->
        <!-- <small>FDeveloper</small> -->
      </div>
      <div class="flex--grow"></div>
      <div class="social">
        <ul
          id="contact"
          class="social__list animation__pulse animation--delay-2"
        >
          <li>
            <a
              class="social__link social__link--github animation__pulse--hover"
              href="{{ site.author.github }}"
            >
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
          <li>
            <a
              class="social__link social__link--linkedin animation__pulse--hover"
              href="{{ site.author.linkedin }}"
            >
              <i class="fa fa-linkedin fa-2x"></i>
            </a>
          </li>
          <li>
            <a
              class="social__link social__link--email animation__pulse--hover"
              href="mailto:{{ site.author.email }}?subject=Hello"
            >
              <i class="fa fa-envelope fa-2x"></i>
            </a>
          </li>
          <li>
            <a
              class="social__link social__link--rss animation__pulse--hover"
              href="/atom.xml"
            >
              <i class="fa fa-rss fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
