---
layout: page
title: Blog
---
<ul class="blog-nav ">
    <li class="blog-nav-tag">
        <a href="tags/">Tags </a></li>
    <li class="blog-nav-cat">
        <a href="categories/">Categories    </a></li>
</ul>
<div class="posts" onclick="location.href='{{ post.url }}'">
    {% for post in site.posts %}
    <section class="post">
        <span class="post-date .Lato-80pc">{{ post.date | date_to_string }}</span>
        <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
        <hr>{{ post.excerpt }}
    </section>
    {% endfor %}
</div>
<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a> {% else %}
    <span class="pagination-item older">Older</span> {% endif %} {% if paginator.previous_page %} {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a> {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a> {% endif %} {% else %}
    <span class="pagination-item newer">Newer</span> {% endif %}
</div>
<script>
function showList(that) {
    that.children[0].classList.add("active");
    var sibling = that.previousElementSibling | that.nextElementSibling;
    if (sibling) {
        sibling.children[0].classList.remove("active");
    }
}
</script>
