<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body >

    <script>

function _onHashChange(tagOrCat) {
  var tag, activeFlag="active-" + tagOrCat;

  if (location.hash){
        tag = document.querySelector(location.hash);
try{
       var posts = document.querySelector('.posts-by-' + tagOrCat).children;
}catch(excep){
  console.log('Error:',excep);
  return
}
          for(i=0; i<posts.length; i++){
            posts[i].classList.remove(activeFlag);
          }

        tag.classList.add(activeFlag);

      } else{
        tag = document.querySelectorAll('.section-' + tagOrCat);
for(var i=0; i<tag.length; i++){
           tag.item(i).classList.add(activeFlag);

}

      }

 }

 function onHashTagChange() {
    _onHashChange('tag');
}
function onHashCatChange() {
    _onHashChange('category');
}
function onHashSkillChange() {
    _onHashChange('skill');
}

$(function(){


$('.menu-toggle').click(function(){
  $(this).toggle('active');

});

});
    </script>

    <div class="container-fluid">
    {% include header.html %}

    <div class="row">
      <div class="content">
        {{ content }}
      </div>
    </div>


    </div>

    {% include footer.html %}
  </body>
</html>
