---
layout: default
---
<!-- Place in the <head>, after the three links -->
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
</script>

<div class="project">
  <h1 class="project-title">{{ page.title }}</h1>
  <span class="project-date">{{ page.date | date_to_string }}
  <!-- TODO: filter by skill-->


  <div class="post-categories inline">
  <ul class="inline">
  <li><i class="fa fa-folder-open "></i> &nbsp;</li>
  {% for field in page.fields %}
  <li><a href="{{site.url}}/project/fields/#{{field}}">{{field}}</a></li>
  {% endfor %}
  </ul></div>
  </span>
  <a href="{{page.project_url}}" style="float:right"><i class="fa fa-play"></i> View Live</a>
  <span class="project-skills post-categories inline">
  <ul class="inline" style="float:right">
  <li><i class="fa fa-code" ></i></li>
  {% for skill in page.skills %}
  <li><a href="{{site.url}}/projects/skills/#{{skill}}">{{skill}}</a></li>
  {% endfor %}
  </ul></span>
  <br>

  {{ content }}

  <!--div class="client-details">
     <h2>Client</h2>
  <span><strong>Udacity</strong></span>
<p>Objective:
  </p><p>Outcomes:</p>
  </div-->
<div class="project-gallery">
  <h2> Gallery</h2>


  <div class="flexslider">
  <ul class="slides">

 {%assign pro_name=page.url | replace_first: site.url%}
  {%capture pro_name%}{{pro_name | remove: '.html'}}{%endcapture%}
   {%capture pro_name%}{{pro_name | remove: '/projects/'}}{%endcapture%}

{% for image in page.images %}
  <li><img src="../public/img/projects/{{pro_name}}/{{image}}"></a></li>
  {% endfor %}
  </ul>
</div>

</div>
<!-- todo : related projects-->

